button.btn.btn-primary.btn-block.mb-4.loginBtn {
    width: 100%;
}

.userListing {
    max-width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

ul.nav.justify-content-center {
    margin-top: 11px;
    background: blue;
}

.nav-link {
    color: #f7f8f9;
}

a.nav-link:hover {
    color: #f7f8f9;
}

table {
    margin-top: 10px;
}

.table>thead {
    vertical-align: bottom;
    background: antiquewhite;
    font-size: 20px;
}

/* 
User Login page css
*/
.userLogin {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
    /* background-color:#f6f7f9; */
}

.userLogin a:hover {
    color: #0d6efd;
}
.postHeading{
    background-color: white;
}
.createPost {
    max-width: 50%;
     margin-left: 20%; 
    margin-right: 20%;
    margin-top: 30px;
}

/*  Notification  */
.notifications {
    position: absolute;
    background:#fff;
    border-radius:30px;
}

.notifications .fa {
    color:#cecece;
    line-height:60px;
    font-size:20px;
}
.notifications .num {
    position:absolute;
    top: -10px;
    right: -1px;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background:#ff2c74;
    color:#fff;
    line-height:25px;
    font-family:sans-serif;
    text-align:center;
}
ul.pagination li {
    margin-left: 10px;
}
ul.pagination li a {
    color: #0d6efd;
    text-decoration: none;
}